<section class="bannerw3l-hnyv">
    <div class="banner-layer">
        <video autoplay muted loop id="myVideo">
            <source src="~/Edukator-Starter/assets/images/line-edu.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
        <div class="main-content-top">
            <div class="container">
                <div class="main-content">
                    <!-- if logo is image enable this
                    <a class="logo" href="index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
                    <h4>Distance education with fun learning</h4>
                    <h3>Discover best classes for the best <span class="inn-text">learning</span> </h3>
                    <a href="about.html" class="btn btn-style transparant-btn mt-md-5 mt-4">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="w3apply-admission">
        <div class="apply-admission-wrap">
            <div class="apply-admission-inner">
                <h4 class="title text-center">
                    <span>Apply for admission</span>
                </h4>
                <div class="caption text-center mb-2">
                    Make it more simple!
                </div>
                <div class="apply-form">
                    <form action="#" class="" method="post">
                        <input type="text" name="text" placeholder="Your Name" required="">
                        <input type="email" name="email" placeholder="Your Email" required="">
                        <button class="btn btn-style btn-primary">Apply Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>