<section class="w3l-bottom-grids-6 py-5" id="grids">
    <div class="container py-md-5 py-2">
        <div class="grids-area-hny row text-left pt-lg-5 mt-lg-5">
            <div class="col-lg-4 col-md-6 grids-feature pr-lg-5">
                <div class="area-box">
                    <span class="fas fa-users"></span>
                    <h4><a href="#feature" class="title-head">The Best and Most Involved Teachers</a></h4>
                    <p>
                        Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor
                        et
                        amet labore et dolore elit.
                    </p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-md-0 mt-5">
                <div class="area-box">
                    <span class="fas fa-laptop-code"></span>
                    <h4>
                        <a href="#feature" class="title-head">The Large selection of courses and Instruction</a>
                    </h4>
                    <p>
                        Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor
                        et
                        amet labore et dolore elit.
                    </p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 grids-feature mt-lg-0 mt-5 pl-lg-5">
                <div class="area-box">
                    <span class="fas fa-book-open"></span>
                    <h4><a href="#feature" class="title-head">High-Quality Classes & Course Categories</a></h4>
                    <p>
                        Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed dolor
                        et
                        amet labore et dolore elit.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>